web-slide-title {
  font-family: 'Roboto Condensed', sans-serif;
}

web-slide-title h2 {
  margin: 0;
}

web-slide-title::shadow div#content,
web-slide::shadow div#content {
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  padding: 20px;
}

/* Animation Example */
web-slide.forward-out, web-slide-title.forward-out {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both;
}
web-slide +.forward-in, web-slide-title +.forward-in {
  -webkit-animation: moveFromRight .7s ease both;
  animation: moveFromRight .7s ease both;
}
@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}
@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
web-slide, web-slide-title {
  background: url(img/marca.png) right bottom no-repeat;
}
/* Colors */
web-slide {
  background-color:#ecf0f1;
  color:#2c3e50;
  border-top: 25px solid #f1c40f;
}
web-slide.black {
  background-color:#2c3e50;
  color:#ecf0f1;
  border-top: 25px solid #f1c40f;
}
web-slide.yellow {
  background-color:#f1c40f;
  color:#2c3e50;
  border-top: 25px solid #2c3e50;
}
web-slide-title {
  background-color:#2c3e50;
  color:#f1c40f;
  border-top: 25px solid #f1c40f;
}